
div#doc-generation-view ul.pod-template li {
    line-height: 0.5em;
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
}

div#doc-generation-view {
    text-align: right;
    padding-right: 1em;
}

/* table */

.templates-listing .enabled-column,
.templates-listing .original-column {
    text-align: center;
}

.templates-listing td > a{
    line-height: 1.1em !important;
}

.template-dg-templates-listing #dg-batch {
    padding-bottom: 0.15em;
}

.template-dg-templates-listing #dg-batch a {
    border: 1px solid #CCCCCC !important;
    padding: 0.15em;
}

.template-dg-templates-listing #dg-batch a.current{
    border: 0px !important;
}

/* icons */

span.icon-controlpanel-collective_documentgenerator_settings::before {
    content: "\e80e";
}

.svg-icon {
    height: 24px;
    width: 24px;
}


/* search and replace controlpanel */

.search-replace-results {
    border-left: 0;
    border-right: 0;
}

.search-replace-results .search-cell {
    margin: 0.5em;
    font-family: monospace;
    word-break: break-word;
    overflow-wrap: anywhere;
    display: block;
}

.search-replace-results .search-group {
    vertical-align: middle;
    text-align: center;
    background-color: #fafafa2b;
    padding: 0.5em 0;
}

.selected-header {
    width: 80px;
}

.check_pod_template_error {
    color:red
}

.check_pod_template_no_obj_found {
    color:DarkOrange
}

.check_pod_template_no_pod_portal_types {
    color:DarkOrange
}

.check_pod_template_not_enabled {
    color:DarkOrange
}

.check_pod_template_not_managed {
    color:DarkOrange
}

.check_pod_template_clean {
    color:green
}

/* selected_templates field, make it higher */
div#formfield-form-widgets-selected_templates select {
    height: 300px;
}