div#doc-generation-view ul.pod-template li {
    line-height: 0.5em;
    display: inline;
    list-style: none;
    margin-left: 1em;
}

div#doc-generation-view {
    text-align: right;
    display: inline-block;
    float: right;
    padding-right: 1em;
}