
div#doc-generation-view ul.pod-template li {
    line-height: 0.5em;
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
}

div#doc-generation-view {
    text-align: right;
    padding-right: 1em;
}

/* table */

.templates-listing .enabled-column,
.templates-listing .original-column {
    text-align: center;
}

.templates-listing td > a{
    line-height: 1.1em !important;
}

.template-dg-templates-listing #dg-batch {
    padding-bottom: 0.15em;
}

.template-dg-templates-listing #dg-batch a {
    border: 1px solid #CCCCCC !important;
    padding: 0.15em;
}

.template-dg-templates-listing #dg-batch a.current{
    border: 0px !important;
}

/* icons */

span.icon-controlpanel-collective_documentgenerator_settings::before {
    content: "\e80e";
}
