div#doc-generation-view ul.pod-template li {
    line-height: 0.5em;
    display: inline-block;
    list-style: none;
    margin-left: 0.5em;
}

div#doc-generation-view {
    text-align: right;
    padding-right: 1em;
}

span.icon-controlpanel-collective_documentgenerator_settings::before {
    content: "\e80e";
}