[report]
omit =
    /home/*/.buildout/eggs/*
    /home/*/srv/zinstances/cache/eggs/*
    /usr/*
    bin/test
    buildout-cache/eggs/*
    parts/*
    devel/*
    src/collective/documentgenerator/__init__.py
