*.py[cod]

# C extensions
*.so
*.swp

# Packages
*.egg
*.egg-info
dist
build
devel
eggs
htmlcov
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
include
local
pyvenv.cfg
share
src/appy
src/collective.excelexport

# Installer logs
pip-log.txt

# Any log file
*.log

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Pycharm
/.idea/
/pip-selfcheck.json

CACHEDIR.TAG
