language: python

python:
  - 2.7

install:
  - easy_install --version
  - pip install setuptools==7.0
  - sudo apt-get -qq install libfreetype6-dev liblcms1-dev libwebp-dev
  - mkdir -p buildout-cache/{eggs,downloads}
  - python bootstrap.py -c travis.cfg --setuptools-version=7.0 --version=2.2.5
  - bin/buildout -Nc travis.cfg

before_script:
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start

script:
  - bin/test

after_success:
  - bin/createcoverage run bin/test
  - pip install -q coveralls
  - coveralls

notifications:
  email:
    recipients:
      - devs@imio.be
    on_success: change
    on_failure: change
  irc:
    channels:
      - "irc.freenode.org#imio"
    on_success: change
    on_failure: always
