[buildout]
package-name = collective.documentgenerator
package-extras = [test]

extends =
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg
    checkouts.cfg

show-picked-versions = true
allow-picked-versions = true

develop = .

extensions +=
    mr.developer
    plone.versioncheck

parts +=
    instance
    omelette
    translation
    test
    robot
    createcoverage
    ploneversioncheck

eggs +=
    Pillow
    plone.reload
    Products.PDBDebugMode
    ipdb

[debug]
eggs =
    ipdb
    iw.debug
    profilehooks
zcml =
    iw.debug

[instance]
eggs +=
    ${debug:eggs}
zcml +=
    ${debug:zcml}

environment-vars =
  PYTHON_EGG_CACHE ${buildout:directory}/python-eggs
  zope_i18n_compile_mo_files true
  PYTHON_UNO /usr/bin/python3
  CUSTOM_TMP /tmp/appy
  ACTIVE_BIGBANG True
  PLONE_EXTENSION_IDS plonetheme.barceloneta:default,plone.app.caching:default,collective.documentgenerator:demo

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[translation]
recipe = infrae.i18nextract
packages = ${buildout:package-name}
output = ${buildout:directory}/src/collective/documentgenerator/locales
output-package = ${buildout:package-name}
domain = ${buildout:package-name}

[test]
recipe = zc.recipe.testrunner
eggs =
    ${buildout:eggs}
    ${buildout:package-name} ${buildout:package-extras}
    ${debug:eggs}
zcml =
    ${debug:zcml}
defaults = ['-s', '${buildout:package-name}', '--auto-color', '--auto-progress']
environment = testenv

[testenv]
zope_i18n_compile_mo_files = true
OO_PORT = 2002
PYTHON_UNO = /usr/bin/python3
CUSTOM_TMP = /tmp/appy
USE_STREAM = False

[robot]
recipe = zc.recipe.egg
eggs =
    Pillow
    ${test:eggs}
    plone.app.robotframework[reload]

[ploneversioncheck]
recipe = zc.recipe.egg
eggs = plone.versioncheck

[code-analysis]
flake8-max-complexity = 50
flake8-ignore = E501, W503, W504, E203, Q000, C812
directory = ${buildout:directory}/src/collective/documentgenerator
flake8-extensions =
    flake8-isort

[createcoverage]
eggs +=
    ${test:eggs}

[coverage]
recipe = zc.recipe.egg
eggs = coverage

[test-coverage]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    export TZ=UTC
    ${buildout:directory}/bin/coverage run bin/test $*
    ${buildout:directory}/bin/coverage html
    ${buildout:directory}/bin/coverage report -m --fail-under=90
    # Fail (exit status 1) if coverage returns exit status 2 (this happens
    # when test coverage is below 100%.
output = ${buildout:directory}/bin/test-coverage
mode = 755
