graft src/collective
graft docs
graft .tx
include *.cfg *.rst *.in
include *.py
include .coveragerc
include .travis.yml
include Makefile
exclude .installed.cfg
exclude .mr.developer.cfg
exclude buildout.d
exclude requirements.txt
recursive-exclude buildout.d *.cfg
recursive-include docs *.GPL
recursive-include docs *.png
recursive-include docs *.rst
recursive-include bin *.sh
global-exclude *.pyc
prune .github
