[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-6.1.x.cfg
    base.cfg

#update-versions-file = test-6.1.cfg


[versions]
# Make sure z3c.* packages are adopting the same PEP 420 native namespace
z3c.form = 6.1
z3c.objpath = 3.0
z3c.table = 4.0
z3c.unconfigure = 3.0
z3c.relationfield = 3.0
z3c.batching = 4.0
z3c.pt = 5.1
z3c.zcmlhook = 3.0
z3c.caching = 4.0
z3c.formwidget.query = 3.0

# Keep the odd ones out on pkg_resources namespaces: Plone 6.1 core still ships
# plone.* / Products.* / collective.* as pkg_resources namespace packages, and a
# single PEP 420 native package in the same namespace becomes unimportable.
plone.reload = 4.0.0
Products.PDBDebugMode = 2.1
collective.z3cform.datagridfield = 3.0.5
