[versions]
setuptools = 44.1.1
zc.buildout = 2.13.6
appy =

# plone 4.3 doesn't pin future
future =

# Required by:
# collective.documentgenerator
# because of https://github.com/zopefoundation/z3c.table/issues/9#
z3c.table = 2.1

# python 2 compatibility
configparser = 4.0.2
soupsieve = 1.9.5
traitlets = 4.3.2
watchdog = 0.10.4
ipdb = 0.13.6
toml = 0.10.2